<p id="notice"><%= notice %></p>

<h1 class="text-center">Posts</h1>

<div class="mt-4 mb-4">
  <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <%= f.input :title, label: false, placeholder: 'Search', class: 'form-control', input_html: {value: "", :style => 'width: 290px'} %>
    <%= f.submit "Search", class: "btn btn-success ml-2" %>
  <% end %>
</div>

<article>
  <% @posts.each do |post| %>
    <h2><%= link_to post.title, post %></h2>
    <p class="lead"><%= post.description %></p>

    <div class="mt-4 mb-5">
      <%= link_to 'Show', post, class: 'btn btn-light' %>
      <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-light' %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light' %>
    </div>
  <% end %>
</article>

<hr>

<%= link_to 'Back', :back, class: 'btn btn-info' %>
<%= link_to 'New Post +', new_post_path, class: 'btn btn-success' %>

<br><br>
