<div class="mt-4 mb-4">
  <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <%= f.input :title, label: false, placeholder: 'Search', class: 'form-control', input_html: {value: "", :style => 'width: 290px'} %>
    <%= f.submit "Search", class: "btn btn-success ml-2" %>
  <% end %>
</div>

<article>
  <h2 class="text-center mb-4"><%= @post.title %></h2>
  <p><%= @post.content %></p>

  <div class="text-center mt-5 mb-5">
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning' %>
    <%= link_to 'Back', posts_path, class: 'btn btn-secondary' %>
  </div>
</article>
